<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mooc.mooc.mapper.CourseChapterMapper">
  <resultMap id="BaseResultMap" type="com.mooc.mooc.model.CourseChapter">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <resultMap id="relationResultMap" type="com.mooc.mooc.model.CourseChapter" extends="BaseResultMap">
    <collection property="sectionList" ofType="com.mooc.mooc.model.CourseSection">
      <id column="sid" property="id"/>
      <result column="scid" property="chapterId"/>
      <result column="snumber" property="number"/>
      <result column="sname" property="name"/>
    </collection>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_chapter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="decreaseNumber" parameterType="com.mooc.mooc.model.CourseChapter">
    update course_chapter
    set number = number-1
    where course_id = #{courseId} and number > #{number}
  </update>
  <insert id="insert" parameterType="com.mooc.mooc.model.CourseChapter">
    insert into course_chapter (id, course_id, number, 
      name)
    values (#{id,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mooc.mooc.model.CourseChapter">
    update course_chapter
    set course_id = #{courseId,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, course_id, number, name
    from course_chapter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCourseId" resultMap="relationResultMap">
    select c.id, c.course_id, c.number, c.name, s.id sid, s.chapter_id scid, s.number snumber, s.name sname
    from course_chapter as c
    left join course_section as s
    on c.id = s.chapter_id
    where course_id=#{courseId}
  </select>
</mapper>