<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mooc.discussion.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.mooc.model.UserInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_status" jdbcType="VARCHAR" property="userStatus" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="teacher_state" jdbcType="INTEGER" property="teacherState" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="prohibit_state" jdbcType="INTEGER" property="prohibitState" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
  </resultMap>
  <resultMap id="StatisticMap" type="com.mooc.model.UserStatistic">
    <result property="month" column="user_month"></result>
    <result property="year" column="user_year"></result>
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result property="num" column="user_count"></result>
  </resultMap>
  <resultMap id="MajorStatisticMap" type="com.mooc.model.MajorStatistic">
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result property="num" column="user_count"></result>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mooc.model.UserInfo">
    insert into user_info (user_id, user_status, user_name, 
      user_password, sex, school, 
      phone, grade, major, 
      teacher_state, register_time, prohibit_state, 
      name, picture)
    values (#{userId,jdbcType=INTEGER}, #{userStatus,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{school,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, 
      #{teacherState,jdbcType=INTEGER}, #{registerTime,jdbcType=TIMESTAMP}, #{prohibitState,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mooc.model.UserInfo">
    update user_info
    set user_status = #{userStatus,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      school = #{school,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      teacher_state = #{teacherState,jdbcType=INTEGER},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      prohibit_state = #{prohibitState,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, user_status, user_name, user_password, sex, school, phone, grade, 
    major, teacher_state, register_time, prohibit_state, name, picture
    from user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, user_status, user_name, user_password, sex, school, phone, grade, 
    major, teacher_state, register_time, prohibit_state, name, picture
    from user_info
  </select>
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select user_id, user_status, user_name, user_password, sex, school, phone, grade,
    major, teacher_state, register_time, prohibit_state, name, picture
    from user_info
    where user_name = #{username}
  </select>
  <select id="queryAll" parameterType="com.mooc.model.UserInfo" resultMap="BaseResultMap">
    select user_id, user_status, user_name, user_password, sex, school, phone, grade,
    major, teacher_state, register_time, prohibit_state, name, picture
    from user_info
    <where>
      <if test="userName!=null and userName!=''">
        and user_name like concat('%',#{userName},'%')
      </if>
      <if test="major!=null and major!=''">
        and major like concat('%',#{major},'%')
      </if>
      <if test="userStatus!=null and userStatus!=''">
        and user_status=#{userStatus}
      </if>
      <if test="grade!=null and grade!=''">
        and grade=#{grade}
      </if>
      <if test="teacherState!=null">
        and teacher_state=#{teacherState}
      </if>
      <if test="name!=null">
        and name like concat('%',#{name},'%')
      </if>
    </where>
    order by register_time desc
  </select>
  <select id="queryMonthSum" parameterType="java.lang.Integer" resultMap="StatisticMap">
    select month(register_time) user_month,count(user_id) user_count from `user_info`
    where year(register_time)=#{year}
    group by month(register_time)
  </select>
  <select id="queryMajorSum" parameterType="java.lang.Integer" resultMap="MajorStatisticMap">
    select major,count(user_id) user_count from `user_info`
    where year(register_time)=#{year}
    group by major
    order by count(user_id) desc
  </select>
</mapper>